<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Actualizar Categoria</title>
</head>
<body>
    
    <div>
        <h1>Actualizar Categoria</h1>
    </div>

    <form th:action="@{/categoria/actualizarCategoria}" method="post" th:object="${ObjCategoriaActualizado}">
        <input type="hidden" th:field="*{IdCategoriaProdcuto}" required>
        <div>
            <div>
                <label for="Categoria"></label>
                <input type="text" th:field="*{Categoria}">
            </div>
        </div>

        <div>
            <div>
                <label for="descripcionCategoria"></label>
                <input type="text" th:field="*{descripcionCategoria}">
            </div>
        </div>

        <div>
            <button type="submit">Guardar</button>
        </div>

    </form>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/code.jquery.com_jquery-3.7.1.min.js}"></script>
</body>
</html>